body{
	margin: 0;
	padding: 10px;
	box-sizing: border-box;
	font-family: Arial, Helvetica, sans-serif;
	min-width: 500px;
}
input{
	width: 100%;
	padding: 10px;
	box-sizing: border-box;
	border: 1px solid #5f9341;
}
button{
	background: #5f9341;
	color: #fff;
	padding: 10px 20px;
	margin-top: 4px;
	border-radius: 5px;
	border: 1px solid #5f9341;
}
#delete-btn{
	background-color: #fff;
	color: #5f9341;
}
 ul{
	margin-top: 20px;
	list-style: none;
	padding-left: 0;
	
 }
  li{
	margin-top: 5px;
 }
 li a{
	color: #5f9341;
 }